html {
    overflow-x: hidden;
}

body {
    font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", 
                 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 
                 "SF UI Display", sans-serif;
    font-weight: 350;
}

div, span, header, hgroup, 
section, article, footer, 
h1, h2, h3, h4, h5, h6, ul, ol, p{
    border: 0 solid black;
    margin: 0;
    padding: 0;
}

h1{
  font-size: 36px;
  font-weight: 400;
}

p{
  font-size: 16px;
}

li {
    list-style: none;
    display: inline-block;
}

hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100vh;
}

@keyframes header_1 {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

#header_1 {
    margin: 0 0 10% 0;
}
#header_1 h1 {
    margin: 0 0 10px 0;
}

#header_2 {
    display: none;
}

hgroup nav {
    width: 60%;
}

hgroup nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

hgroup nav ul li {
    flex-grow: 1;
}

#btn_home {
    display: none;
}

.nav_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    z-index: 10;

    min-width: 120px;
}

.nav_button:hover {
    cursor: pointer;
}

.nav_button img {
    width: 30px;
    height: 30px;

    transform: translateY(30px);
    transition: all 0.2s ease;
    opacity: 0;
}

.nav_button p {
    transform: translateX(-30px);
    transition: all 0.2s ease;
}

.nav_button:hover img {
    transform: translateX(0px);
    transition: all 0.2s ease;
    opacity: 1;
}

.nav_button:hover p {
    transform: translateX(0px);
    transition: all 0.2s ease;
}

#about {
    display: none;
}

#viewer {
    display: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}